{% extends "users/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5">
	<h1>Sign up</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Sign Up</button>
		</div>
	</form>
	<div class="border-top pt-3">
      <small class="text-muted">
        Already have an account? <a class="ml-2" href="{% url 'users:login' %}">Log in now</a>
      </small>
    </div>
</div>

{% endblock content %}
